@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "InterVariable", "sans-serif";

  height: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.squareBtn {
  @apply h-[35px] w-[35px] rounded-md
  text-defaultWhite text-center hover:opacity-80 transition-opacity ease-linear delay-75;
}
